modules = ["nodejs-20", "web", "nix"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite --port=5000 --host=0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 23636
externalPort = 3000

[userenv]

[userenv.shared]
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhZGhyaXd5cWpjaGticW9vb3B3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMTI1MzcsImV4cCI6MjA5NzY4ODUzN30.YR9Ys3hWyRv4DCwmv_uvY1GfDDwQU2qf_Yxv8dPbXZo"
VITE_SUPABASE_URL = "https://radhriwyqjchkbqooopw.supabase.co"
